<style>
    .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
    .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
    .dropdown {
  position: relative;
  display: inline-block;
}

    .dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: gray;}
    
</style>    
<body>

    <p>WHY ARE WE HERE?<br>TO CODE!<br>WHAT ARE WE DOING?<br>CODING!<br>WHAT SHOULD WE DO!<br> CODE! CODE! CODE!</p>   
    <br>
<table style="style="1px solid gray; z-index:0">
  <tr>
    <th class ="cell"><a href=".">Home</a></th>
    <th class ="cell"><a href="https://github.com/wiz124/individual/issues/2">This week's review ticket</a></th>
    <th class= "cell"><a href=" https://replit.com/@HarryLi11/individual#Main.java">Replit code</a></th>
    <th>
      <div class="dropdown">
        <a class="dropbtn">Dropdown</a>
        <div class="dropdown-content">
        <a href="techtalk0">TT0</a>
          <p>More Coming soon!</p>
   </div>
</div>
    </th>
  </tr>
</table>
    <br>
</body>
